<div>
    <ul>
        {{log beers}}
    {{#each beers}}
        <li>
            <img src="{{image_url}}" alt="{{name}} image" class="beer-name">
            <p class="beer-name">{{name}}</p>
            <p class="beer-description">{{description}}</p>
            <p class="beer-tagline">{{tagline}}</p>
        </li>
    {{/each}}
    </ul>
</div>